/*This CSS file is used to design the login page
for html properties only*/

/*import CSS file from external library*/

/*@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';*/

@import url('https://fonts.googleapis.com/css?family=Varela+Round');



:root {
  --color-1: #21D4FD;
  --color-2: #B721FF;
  --color-3: #08AEEA;
  --color-4: #2AF598;
}


/*style of the widget_header*/

.header {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7rem;
    /*background-color: #1abc9c;*/
    background-image: linear-gradient(to right, #84fab0, #8fd3f4 51%, #84fab0);

  }

/*style of the button_widget_header*/

  .header button {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: rgb(84, 183, 223);
    border: none;
    color:white;
    padding: 10px;
    width: 15rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  

.zero {
  background: red;
}
.body button {
    background-color: #1abc9c;
    color:white;
    padding: 10px;
    width: 15rem;
    border-radius: 5px;
    border: none;
    margin-top: 3rem;
    margin-left: 2rem;
}

.bt_delete {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/*style of the widget_header*/


  .dropbtn {
    background-color: white;
    color: #1abc9c;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    position: absolute;
    margin-top: -5.7rem;
    margin-left: 55%;
  }
  
  .dropdown {
    position: relative;
    margin-left: 60rem;
    border-radius: 5px;
    margin-left: 69%;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 55%;
    margin-top: -1.8rem;

  }
  
  .dropdown-content a {
    color: #1abc9c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

  }
  
  .dropdown-content a:hover {background-color: white;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: white;}


  /* END of style of the widget_header*/

/* STYLE RESPONSIVE / COLUMN FOR WIDGERS */

.container-widget {
  width: 100%;
  border-radius: .5em;
  padding: 20px;
}

.container-widget2 button {
  position: relative;
  background-color: #1abc9c;
  display: inline-block;
  color: white;
  padding: 20px;
  margin-left: 1rem;
  width: 20rem;
  border: none;
}

.container-widget2 button {
  background-color: #1abc9c;
  display: inline-block;
  color: white;
  border: none;
  float: left;
  max-width: 100%;
  width:30%;
  height: 2.5rem !important;
  margin-top: -110%;
  margin-left: 70%;
}

.container-widget button {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  border-radius: 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 7px 10px;
  margin-top: -1%;
  margin-bottom: 1rem;
}

.modify_widget button {
  background-color: green;
}

.header_allW2 {
  position: absolute;
  left: 0;
  bottom: 4rem;
  width: 100%;
  height: 20%;
  margin-bottom: 45%;
  transform: skewY(-3deg);
  z-index: -1;
  background: linear-gradient(19deg, var(--color-1), var(--color-2));


  /*background-color: #1abc9c;*/
  /*background-image: linear-gradient(to right, #84fab0, #8fd3f4 51%, #84fab0);*/

}

.LogValid h4 {
  color: green;
}

.LogErrors h4{
    color: red;
}

.header_allW {
  position: absolute;
  left: 0;
  bottom: 4rem;
  width: 100%;
  height: 20%;
  margin-bottom: 45%;
  transform: skewY(-3deg);
  z-index: -1;
  background: linear-gradient(19deg, var(--color-1), var(--color-2));


  /*background-color: #1abc9c;*/
  /*background-image: linear-gradient(to right, #84fab0, #8fd3f4 51%, #84fab0);*/

}


.footer12 {
position: absolute;
    left: 0;
    bottom: -20rem;
    width: 100%;
    height: 25%;
    margin-bottom: -10%;
    transform: skewY(2deg);
    z-index: -1;
    background: linear-gradient(19deg, var(--color-1), var(--color-2));
}


.production h5 {
  display: none;
  position: relative;
  font-family: 'Varela Round', sans-serif;
  color: darkgrey;
  margin-left: 3rem;
  margin-top: 30rem;
}

.column {
  float: left;
  width: 20%;
  height: 30rem !important;
  margin-top: 7rem;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.widgetsbox2 {
  
  border-radius: 3%;
  min-width: 60%;
  min-height: 40%;
  max-width: 160%;
  max-height: 105%;
  margin: 30rem;
  border: 1px solid salmon;
  font-family: 'Varela Round', sans-serif;
  display: inline-block;
}


.widgetsbox {
  width: 100%;
  min-width: 40%;
  height: 120%;
  min-height: 20%;
  padding: 10px;
  margin: 30px;
  background-color: rgba(199, 199, 199, 0.3);
  border: 1px solid white;
}


.widgetsbox h5 {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.9rem;
  color: purple;
}

.widgetsbox h6 {
  display: none;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.7rem;
  color: darkgrey;
}



/* FOOTER */

.footer3 {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7rem;
    background-color: #1abc9c;
}

.footer4 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7rem;
  background-color: #1abc9c;
}

.footer3 h6 {
    text-align: left;
    margin-left: 2rem;
    margin-top: 2.5rem;
    color: white;
}
