/*This CSS file is used to design the login page
for html properties only*/

/*import CSS file from external library*/

/*@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';*/


/*style of the widget_header*/

.header {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7rem;
    /*background-color: #1abc9c;*/
    background-image: linear-gradient(to right, #84fab0, #8fd3f4 51%, #84fab0);

  }

/*style of the button_widget_header*/

  .header button {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: rgb(84, 183, 223);
    border: none;
    color:white;
    padding: 10px;
    width: 15rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  .zero {
    background: red;
  }
.body button {
    background-color: #1abc9c;
    color:white;
    padding: 10px;
    width: 15rem;
    border-radius: 5px;
    border: none;
    margin-top: 3rem;
    margin-left: 2rem;
}


/*style of the widget_header*/


  .dropbtn {
    background-color: white;
    color: #1abc9c;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    position: absolute;
    margin-top: -5.7rem;
    margin-left: 55%;
  }
  
  .dropdown {
    position: relative;
    margin-left: 60rem;
    border-radius: 5px;
    margin-left: 69%;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 55%;
    margin-top: -1.8rem;

  }
  
  .dropdown-content a {
    color: #1abc9c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

  }
  
  .dropdown-content a:hover {background-color: white;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: white;}


  /* END of style of the widget_header*/

  .container {
    width: 800px;
    border-radius: .5em;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 1em;
  }
  
  .column {
    flex-direction: column;
    height: 400px;
  }
  
  .item {
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: rgba(111,41,97,.3);
    border: 2px solid rgba(111,41,97,.5);
  }


.footer3 {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7rem;
    background-color: #1abc9c;
}

.footer4 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7rem;
  background-color: #1abc9c;
}

.footer3 h6 {
    text-align: left;
    margin-left: 2rem;
    margin-top: 2.5rem;
    color: white;
}

.body h5 {
    margin-top: 4rem;
    margin-left: 5rem;
    font-size: 1.8em;
}

.body h3 {
  margin-left: 3rem;
  margin-top: 5rem;
  color: #1abc9c;
  font-size: 1.7em;
}

.manage_widget h3 {
  margin-left: 3rem;
  margin-top: 15rem;
  color: #1abc9c;
  font-size: 1.7em;
}


hr.separator {
  border: 1px solid #1abc9c;
  position: relative;
  margin-left: 3rem;
  margin-top: -0.1rem;
  width: 250px;
  opacity: 0.3;
}

.body2 button {
    background-color: salmon;
    color: white;
    width: 15rem;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    position: absolute;
    margin-top: -4.1rem;
    margin-left: 79.2%;
}

.header_widgets h6 {
  display: inline-block;
  color: salmon;
  font-size: 1.5em;
  margin: 5rem;
}

.block {
  font-family: Arial, Helvetica, sans-serif;
  max-height: 270px;
  max-width: 520px;
  overflow: auto;
  margin-left: 5rem;
  /*border: 2px solid #7becd6;*/
  border: rgb(58, 57, 57);
  border-radius: 3px;
  margin-right: 5rem;
  background-color: rgb(252, 252, 252);
  margin-top: -0.5rem;
}

.second h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20rem;
  color: rgb(92, 88, 88);
  display: table;
  margin-right: 6.5rem;
}

.bloc h4 {
  color: salmon;
  margin-top: 7rem;
  margin-left: 3rem;
  font-size: 2.2rem;
}

.textModif {
  margin-left: 3rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.textModif input[type=text] {
  border-color: #7becd6;
  margin-top: 2rem;
  border-top: none;
  border-left: none;
  border-right: none;
}

.first h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20rem;
  color: rgb(92, 88, 88);
  display: table;
  margin-right: 6.5rem;
}


.first h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5rem;
  color: rgb(92, 88, 88);
  display: table;
  margin-right: 6.5rem;
}

.service h3 {
display: table;
margin-left: 3rem;
}

.hr hr {
  position: relative;
  border-color: #7becd6;
  width: 500px;
}

input[type=radio] :not(old) {
  position: absolute;
}

.bloc {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10rem;
  background-color: white;
}

.submit button {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: rgb(84, 183, 223);
  border: none;
  color:white;
  padding: 15px;
  width: 25rem;
  text-align: center;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.first button {
  background-color: salmon;
  color: white;
  width: 15rem;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  position: relative;
  margin-top: -4.1rem;
  margin-left: 105%;
}

.serviceName td {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2rem;
  display: inline-block;
  margin-left: 4rem;
  color: #1abc9c;
}

.widgetName td {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2rem;
  display: inline-block;
  margin-left: 20rem;
}

.test {
  margin-left: 22rem;
  margin-bottom: -2rem;
  font-size: 1.8rem;
  color: darkgrey;
}

.bti button {
  margin-left: 37rem;
}